<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleof.org">
<head>
<link th:ref="@{/css/style.css}" rel="stylesheet" type="text/css" href="../static/styles.css">
<meta charset="ISO-8859-1">
<title>Martinez Mayra Compensatorio Diciembre</title>
</head>
<body>
<div class="container col-md-3">
  <!--head form-->
  <section>
    <h1>Login</h1>
  </section>
  <!--end head form-->
  <!--body form-->
  <section class="col-md-12">
    <form class="form-horizontal">
      <div class="form-group barra">
        <label for="inputEmail3" class="col-sm-4 control-label">Email</label>
        <div class="col-sm-8">
          <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
      </div>
      <div class="form-group barra">
        <label for="inputPassword3" class="col-sm-4 control-label">Password</label>
        <div class="col-sm-8">
          <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
      </div>
      <div class="form-group barra">
        <div class="col-md-12">
          <button type="submit" class="btn  center-block">Sign in</button>
        </div>
      </div>
    </form>
  </section>
  <!--end body form-->
</div>
</body>