<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleof.org">
<head>
<link th:ref="@{/css/style.css}" rel="stylesheet" type="text/css" href="../static/styles.css">
<meta charset="ISO-8859-1">
<title>Martinez Mayra Compensatorio</title>
</head>
<body>
<form class="login-form">
  <p class="login-text">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-lock fa-stack-1x"></i>
    </span>
  </p>
  <input type="email" class="login-username" required placeholder="Usuario" />
  <input type="password" class="login-password" required placeholder="Contraseña" />
  <input type="submit" name="Login" value="Login" class="login-submit" />
</form>
<a href="#" class="login-newusername">Crear Usuario</a>
<div class="underlay-photo"></div>
<div class="underlay-black"></div> 
</body>
</html>